@use "src/variables" as vars;

.container-items {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100%;
  padding: 5px;
}

.icon {
  padding-right: 15px;
  color: white;
  width: fit-content;
  padding-top: 15px;
  margin-left: auto;

  mat-icon {
    padding: 5px;
    cursor: pointer;
  }

  .active {
    background-color: vars.$primaryColor;
    pointer-events: none;
  }

  .not-active {
    background-color: vars.$accentColorLighter;
  }
}

.tools-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.paginator {
  position: sticky;
  bottom: 0;
  z-index: 1
}

//.no-data {
//  text-align: center;
//  margin: 5vh 0;
//  font-size: 1.2rem
//}

@media (max-width: 767px) {
  .item {
    width: inherit;
  }

  .tools-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
