<ng-container>

  <form [formGroup]="formGroup">

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="title?.errors">
        <span>Title is required.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="description?.errors?.['required']">Description is required.</mat-error>
      <mat-error *ngIf="description?.errors?.['minlength']">Description must be at least 10 characters long.</mat-error>
    </mat-form-field>

    <app-chip-text-input
      [fc]="formGroup.controls.skills"
      [chipItems]="chipSkills">
    </app-chip-text-input>

  </form>

  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      *ngIf="_jobAd?.status === 'draft' || !_jobAd"
      (click)="onSave('draft')"
      [disabled]="!formGroup.valid">
      Save as Draft
    </button>

    <button
      mat-flat-button
      color="primary"
      *ngIf="_jobAd?.status === 'draft' || _jobAd?.status === 'published' || !_jobAd"
      (click)="onSave('published')"
      [disabled]="!formGroup.valid">
      Publish
    </button>

    <button
      *ngIf="_jobAd?.status === 'published'"
      mat-flat-button
      color="primary"
      (click)="onSave('archived')"
      [disabled]="!formGroup.valid">
      Archive
    </button>
  </div>
</ng-container>
