.text {
  display: flex;
  float: right;
}

button {
  color: white;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    width: 100px;
    height: 40px;
    color: white !important;
    margin: 5px;
    padding: 10px;
  }
}

//mat-form-field {
//  padding: 5px 0;
//}

@media (max-width: 1023px) {

  .actions {
    display: block;
    justify-content: flex-start;
    flex-wrap: wrap;

    button {
      width: inherit;
    }
  }
}
