<ng-container *ngrxLet="jobAd$ | async as jobAd">
  <h2 mat-dialog-title>
    {{jobAd?.title}}
  </h2>
  <mat-dialog-content>
    <span>Status: {{jobAd?.status | titlecase}}</span>
    <p>Description: {{jobAd?.description}}</p>
    <mat-chip-listbox>
      <mat-chip-option *ngFor="let skill of jobAd?.skills" [selected]="true">{{skill}}</mat-chip-option>
    </mat-chip-listbox>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-container>
