mat-dialog-content {
  padding: 0 24px 24px;
  overflow-y: auto;
  max-width: 80vw;
  display: grid;
}

@media screen and (max-width: 599px) {
  h2 {
    font-size: 24px;
  }

  mat-dialog-content {
    padding: 0 16px 16px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  h2 {
    font-size: 32px;
  }
  .mat-dialog-content {
    overflow-y: auto;
  }
}

@media screen and (min-width: 960px) {
  h2 {
    font-size: 48px;
  }

  mat-dialog-content {
    max-width: 600px;
  }
}
