/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  margin: 0 !important;
  overflow: hidden;
}

.mat-sidenav-content {
  min-height: 100vh;
}

form {
  width: 100%;
  position: center;
}

.red-snackbar {
  background-color: darkred;
  color: white;
}

.green-snackbar {
  background-color: darkgreen;
  color: white;
}

@media (max-width: 767px) {
  .mat-mdc-paginator-page-size {
    display: none !important;
    justify-content: center;
  }
}

mat-form-field {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .mat-mdc-form-field,
  .mat-mdc-floating-label {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .mat-mdc-form-field,
  .mat-mdc-floating-label{
    font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  .mat-mdc-form-field,
  .mat-mdc-floating-label{
    font-size: 18px;
  }
}

.tools-container app-select-text-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.tools-container app-search-text-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
