@import "src/variables";

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 50vh;
}

.mat-card-content {
  flex: 1;
}

.card {
  margin: 5px;
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.chip-status {
  background-color: red !important;
  font-weight: 500;

  &-draft {
    background-color: sandybrown !important;
  }

  &-published {
    background: $primaryColor !important;
  }

  &-archived {
    background: #b5d5c5 !important;
  }
}

@media screen and (max-width: 960px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  mat-chip-listbox {
    padding: 2px;
  }
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
}

mat-card-header {
  padding: 5px 10px;
  display: block;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
}

mat-card-header {
  padding: 5px 10px;
  display: block;
}

@media screen and (max-width: 480px) {
  .card-container {
    max-height: 30vh;
    display: grid;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .card-container {
    max-height: 30vh;
    display: grid;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .card-container {
    max-height: 45vh;
    display: grid;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .card-container {
    max-height: 50vh;
    display: flex;
    flex-wrap: wrap;
  }
}
